/*
 * New diff- syntax
 */

pre[class*="language-diff-"] {
    --token-inserted-color: hsl(126, 80.5%, 92%);
    --token-deleted-color: hsl(0 100% 95.7%);
    --token-prefix-background-color: rgba(0,0,0,.1);
	--eleventy-code-padding: 1.25em;
	padding-left: var(--eleventy-code-padding);
	padding-right: var(--eleventy-code-padding);
}

@media (prefers-color-scheme: dark) {
    pre[class*="language-diff-"] {
        --token-inserted-color: hsl(126, 22%, 22%);
        --token-prefix-background-color: rgba(0,0,0,.2);
        --token-deleted-color: hsl(0, 40%, 26%);
    }
}

.token.deleted {
	background-color: var(--token-deleted-color);
	color: inherit;
}
.token.inserted {
	background-color: var(--token-inserted-color);
	color: inherit;
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.token.prefix.inserted,
.token.prefix.deleted {
	width: var(--eleventy-code-padding);
	background-color: var(--token-prefix-background-color);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
	margin-left: calc(-1 * var(--eleventy-code-padding));
	margin-right: calc(-1 * var(--eleventy-code-padding));
	text-decoration: none; /* override del, ins, mark defaults */
	color: inherit; /* override del, ins, mark defaults */
}
